.select {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.button {
  composes: button from "milligram";
  composes: button-outline from "milligram";
}

.imagePreview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nextButton {
  composes: button;
  align-self: top;
  margin: 2rem;
}
