.header {
  composes: row from "milligram";
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.headerTitle {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 6rem;
}

.headerText {
  font-size: 2rem;
}
