.process {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.numFramesDiv {
  display: flex;
  flex-direction: column;
}

.numFramesInputDiv {
  width: 100%;
  min-width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.numFramesLabel {
  width: 100%;
}

.numFramesInput {
  width: 80%;
}

.numFramesSpan {
}

.button {
  composes: button from 'milligram';
}

.previewDiv {
}
